<div class="pf-c-card ux-c-card ux-c-card-method" style="background-image:url('{method_card_img}')">
<a class="ux-c-card-method__wrap" href="{title_permalink='entries/method'}" role="link">
  <div class="ux-c-card-method__body">
    <h3 class="pf-u-font-size-xl pf-u-font-weight-bold">{title}</h3>
    <h4 class="pf-u-font-size-sm pf-u-font-weight-bold">
    {categories show_group="6" style="linear" backspace="2"}{category_name}, {/categories}
  	</h4>
    <span class="ux-c-card-method__sep"></span>
    <p class="ux-c-card-method__desc">{method_card_description}</p>
  </div>
</a>
</div>