{layout='layouts/_new-html-wrapper'}
{exp:channel:entries channel="areas" entry_id="102" dynamic="no" cache="yes" refresh="60"}
{layout:set name='title' value='{title}'}
{snp_area_head}

{/exp:channel:entries}
<section class="pf-c-page__main-section ux-l-content-wrap pf-m-light pf-l-flex pf-m-align-items-flex-start">
<div class="pf-l-split pf-u-w-100 pf-m-gutter pf-u-mt-md pf-u-mb-md pf-m-wrap">
{exp:channel:entries channel="areas" cache="yes" refresh="60" entry_id="102" dynamic="no"}
{snp_area_resource}
{/exp:channel:entries}
</div>
<div class="ux-l-cards__sidepanel">
{exp:pro_search:form query="{segment_3}" result_page="areas/design/results/" }         
<input id="ux-m-search-toggle" class="pf-u-mb-lg ux-c-search-input__light" type="search" name="keywords" placeholder="Search designs">

<div class="pf-c-content pf-u-mb-md">
<h3>Portfolio</h3>
</div>
  {exp:channel:categories category_group="2" show_empty="no" style="linear"}
  <div class="pf-c-check">   
      <input id="{category_id}" class="pf-c-check__input" type="checkbox" name="category[]" value="{category_id}"{if pro_search_category ~ '/\b'.category_id.'\b/' } checked{/if}>
      <label for="{category_id}" class="pf-c-check__label">{category_name}</label>
  </div>
  {/exp:channel:categories}
<div class="pf-c-content pf-u-mb-md pf-u-mt-md">
<h3>Tags</h3>
</div>
  {exp:channel:categories category_group="1" show_empty="no" style="linear"}
  <div class="pf-c-check">
      <input id="{category_id}" class="pf-c-check__input" type="checkbox" name="category[]" value="{category_id}"{if pro_search_category ~ '/\b'.category_id.'\b/'} checked{/if}>
     <label for="{category_id}" class="pf-c-check__label">{category_name}</label>
  </div>
  {/exp:channel:categories}
  <button class="ux-l-cards__sidepanel__action" type="submit">Go</button>
{/exp:pro_search:form}
</div>
<div class="ux-l-cards__content">
<div class="pf-l-split pf-u-justify-content-space-between pf-u-mb-md">
	<div class="pf-l-split__item">
    
 {if segment_3 == "results"}
 {exp:pro_search:results query="{segment_4}" limit="1"}
{exp:channel:categories show="{pro_search_category}" style="linear"}
{category_url_title}
{/exp:channel:categories}
{/exp:pro_search:results}


 <a class="pf-c-button pf-m-link" href="{path="areas/design"}">Clears Filter</a>
{/if}
    </div>
    <div class="pf-l-split__item">
<form id="sort-form" method="get">
  <select class="pf-c-form-control ux-c-select__light" {if segment_3 == "results"} disabled{/if} name="sort_by" onchange="updateURL(this)">
    <option value="" disabled selected>Sort By</option>
    <option value="newest">Newest</option>
    <option value="oldest">Oldest</option>
    <option value="az">A-Z</option>
    <option value="za">Z-A</option>
  </select>
</form>
    </div>
</div>
 {if segment_3 == "results"}
 
 {exp:pro_search:results
  query="{segment_4}"
  channel="Entry"
  orderby="title"
  sort="asc"
  paginate="bottom"
}
{if count == "1"}<div class="pf-l-gallery pf-m-gutter">{/if}
  {snp_design_card}
  {if no_results}
  <p>{gv_entries_none}</p>
  {/if}
  {if count == total_results}</div><!--pf-l-gallery-->{/if}
  {snp_convention_list_paginate} 
  {/exp:pro_search:results}
 {if:elseif segment_3 == "newest"}
    {exp:channel:entries orderby='date' cache="yes" refresh="60" channel="Entry" sort='desc' limit='30' paginate="bottom"} 
    {if count == "1"}<div class="pf-l-gallery pf-m-gutter">{/if}
  {snp_design_card}
  {if no_results}
  <p>{gv_entries_none}</p>
  {/if}
  {if count == total_results}</div><!--pf-l-gallery-->{/if}
  {snp_convention_list_paginate}                  
{/exp:channel:entries}
  {if:elseif segment_3 == "oldest"}
    {exp:channel:entries orderby='date' cache="yes" refresh="60" channel="Entry" sort='asc' limit='30' paginate="bottom"} 
    {if count == "1"}<div class="pf-l-gallery pf-m-gutter">{/if}
  {snp_design_card}
  {if no_results}
  <p>{gv_entries_none}</p>
  {/if}
  {if count == total_results}</div><!--pf-l-gallery-->{/if}
  {snp_convention_list_paginate}                  
{/exp:channel:entries}
    {if:elseif segment_3 == "za"}
    {exp:channel:entries orderby='title' cache="yes" refresh="60" channel="Entry" sort='desc' limit='30' paginate="bottom"} 
    {if count == "1"}<div class="pf-l-gallery pf-m-gutter">{/if}
  {snp_design_card}
  {if no_results}
  <p>{gv_entries_none}</p>
  {/if}
  {if count == total_results}</div><!--pf-l-gallery-->{/if}
  {snp_convention_list_paginate}                  
{/exp:channel:entries}
  {if:else}
     {exp:channel:entries orderby='title' cache="yes" refresh="60" channel="Entry" sort='asc' limit='30' paginate="bottom"} 
    {if count == "1"}<div class="pf-l-gallery pf-m-gutter">{/if}
  {snp_design_card}
  {if no_results}
  <p>{gv_entries_none}</p>
  {/if}
  {if count == total_results}</div><!--pf-l-gallery-->{/if}
  {snp_convention_list_paginate}                  
{/exp:channel:entries}
  {/if}
</div>  
</section>
{!-- </section>
 --}