{layout='layouts/_new-html-wrapper'}
{exp:channel:entries channel="areas" entry_id="329" dynamic="no" cache="yes" refresh="60"}
{layout:set name='title' value='{title}'}
<section class="ux-c-area-head--wrap__methods pf-u-p-xl pf-u-pt-4xl">
<div class="ux-c-area-head__methods pf-u-text-align-center">
<h1 class="ux-c-area-head__methods__title">{title}</h1>
{pv_methods_svg}
  <h2 class="ux-c-area-head__methods__desc" >
  {exp:word_limit total='200' strip_tags='yes'}
   {description}
{/exp:word_limit}  
</h2>
<ul class="pf-u-mt-2xl pf-l-flex pf-m-justify-content-center pf-m-align-items-center pf-m-space-items-2xl ">
<li><a class="pf-l-flex pf-m-align-items-center" href="https://redhat.enterprise.slack.com/archives/C033G6UA8AH" target="blank">
{pv_slack_svg_icon}
Join the Conversation</a></li>
<li><a href="{path=entries/method/where-to-start}">Get Started with Methods</a></li>
</ul>
<nav 
class="ux-c-methods-stages pf-l-flex pf-m-justify-content-center">
<ol 
class="ux-c-methods-stages__list pf-l-flex pf-m-justify-content-center">
<li class="ux-c-methods-stages__item {if last_segment =="discovery"}ux-m-active{/if}"><a class="ux-c-methods-stages__link" href="{path="areas/methods/discovery"}">Discovery</a></li>
<li class="ux-c-methods-stages__item {if last_segment =="ideation-design"}ux-m-active{/if}"><a class="ux-c-methods-stages__link" href="{path="areas/methods/ideation-design"}">Ideation &amp; Design</a></li>
<li class="ux-c-methods-stages__item {if last_segment =="testing"}ux-m-active{/if}"><a class="ux-c-methods-stages__link" href="{path="areas/methods/testing"}">Testing</a></li>
<li class="ux-c-methods-stages__item {if last_segment =="methods-new"}ux-m-active{/if}"><a class="ux-c-methods-stages__link" href="{path="areas/methods"}">All stages</a></li>
</ol>
</nav>
</div>
</section>
{/exp:channel:entries}


<section class="pf-c-page__main-section ux-l-content-wrap pf-m-light pf-l-flex pf-m-align-items-flex-start pf-m-align-content-flex-start">
<div class="ux-l-cards__content">
{if last_segment == "discovery"}
	{embed="embeds/method-embed" cat="129"}
{if:elseif last_segment == "ideation-design"}
	{embed="embeds/method-embed" cat="130"}
{if:elseif last_segment == "testing"}
	{embed="embeds/method-embed" cat="131"}
{if:else}
	{embed="embeds/method-embed"}
{/if}
</div>  
</section>
<section class="ux-c-methods-process-cta pf-c-page__main-section pf-c-content pf-l-flex pf-m-align-items-center">
<img class="ux-c-methods-process-cta__img" alt="methods process" src="https://matthewcarleton.github.io/uxdhub/assets/images/methods-process-cta.png"/>
<div class="ux-c-methods-process-cta__content">
<span class="pf-c-label pf-m-outline"><span class="pf-c-label__content">Process outline</span></span>
<h1>{pv_method_process_cta_heading}</h1>
<p>{pv_method_process_cta_content}</p>
<a href="{path=entries/method/where-to-start}" class="pf-c-button pf-m-primary" type="button">Get Started with Methods</a>
</div>
</section>