{layout='layouts/_new-html-wrapper'}
{layout:set name='title' value='Method drafts'}
<section class="ux-c-area-head--wrap__methods pf-u-p-xl pf-u-pt-4xl">
<div class="ux-c-area-head__methods pf-u-text-align-center">
<h1 class="ux-c-area-head__methods__title">Method Drafts</h1>
</div>
</section>
<section class="pf-c-page__main-section ux-l-content-wrap pf-m-light pf-l-flex pf-m-align-items-flex-start pf-m-align-content-flex-start">
<div class="ux-l-cards__content">
	{embed="embeds/method-embed" status="draft"}
</div>  
</section>