		<footer class="row">
			<section class="w-8">
				<p>&copy;{current_time format='%Y'}, all rights reserved. Built by Red Hat User Experience Design group.</p>
			</section>
		</footer>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
		<script src="{theme_user_folder_url}site/default/asset/js/plugins/validate.min.js" ></script>
		<script src="{theme_user_folder_url}site/default/asset/js/plugins/cycle2.min.js" ></script>
		<script src="{theme_user_folder_url}site/default/asset/js/common.min.js" ></script>
	</body>
</html>
