<header class="pf-c-masthead pf-u-display-none-on-xl" id="page-demo-basic-masthead">
        <span class="pf-c-masthead__toggle">
          <button
            class="pf-c-button pf-m-plain"
            type="button"
            aria-label="Global navigation"
          >
            <i class="fas fa-bars" aria-hidden="true"></i>
          </button>
        </span>
        <div class="pf-c-masthead__main">
          <a class="pf-c-masthead__brand" href="#">
            <picture
              class="pf-c-brand pf-m-picture"
              style="
                --pf-c-brand--Width: 180px;
                --pf-c-brand--Width-on-md: 180px;
                --pf-c-brand--Width-on-2xl: 220px;
              "
            >
              <source
                media="(min-width: 768px)"
                srcset="../images/Red-Hat-Logo.svg"
              />
              <source srcset="../images/Red-Hat-Logo.svg" />
              <img
                src="../images/Red-Hat-Logo.svg"
                alt="fallback Red Hat Logo"
              />
            </picture>
          </a>
        </div>
      </header>
